
div {
    border: 2px solid white;
    margin: 0px;
}

p {
    margin: 10px;
    font-size: 24px;
}

.highlight {
    color: blue;
}

.ignore {
    color: gray;
}

.menubox {
    position: fixed;
    background: white;
    bottom: 100px;
    right: 100px;
}

.menubox table {
    width: calc(100vw - 200px);
}

.menubox td {
    text-align: center;
    font-size: 32px;
    padding: 16px;
    line-height: 32px;
    background-color: #4682B4;
    color: white;
}
